.header {
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.left a {
    color: #ff9800;
    font-weight: 600;
    font-size: 1.2rem;
}

.right a {
    margin-left: 15px;
    color: dimgrey;
    font-weight: 500;
    transition: color 0.3s ease;
}
.right a:hover {
    color: #ff9800;
}
.footer {
    background-color: #ff9800;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    margin-top: 30px;
}

.footer a {
    text-decoration: underline;
    color: #fff;
    opacity: 0.8;
    font-weight: 500;
}

.container {
    min-height: 1000px;
}

@media (max-width: 900px) {
    .header {
        padding: 20px;
    }
}

@media (max-width: 600px) {
    .header {
        padding: 10px;
    }
}
